*,
*:before,
*:after {
  box-sizing: border-box;
  // border-radius: 0 !important;
}

$bg: #03131F;
$skinDark: #E7AE9A;
$skinLight: #EFBAAA;
$nipples: #E79A9A;
$headColor: #E79E8A;
$bear: #612410;
$blue: #3D5E8C;
$time: 4.5s;
$shirt-color: green;
$bubble-background: darken(#fff, 20%);

$jdg: (
  'head': url(../jdg.png),
  'shirt-color': gray,
  'trousers-color': #003270
);

$d1: (
  'head': url(../d1.png),
  'shirt-color': gray,
  'trousers-color': #003270
);

$d2: (
  'head': url(../d2.png),
  'shirt-color': gray,
  'trousers-color': #003270
);

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $bg;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

#m1,
#m2,
#m3,
#m4 {
  bottom: 125px;
  left: -134px;
  position: absolute;
  transition: all 4s linear;
}

#m4 {
  bottom: -310px;
  left: auto;
  right: 100px;
  transform: rotate(-23deg);
  transition-duration: .8s;

  &.active {
    bottom: -20px;
  }
}

button {
  position: absolute;
  margin: auto;
  width: 200px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

h2 {
  font-family: 'VT323';
  color: #fff;
  font-size: 450%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  z-index: 1;
}

#screenshot1 {
  background-image: url(../before.png);
}

#screenshot2 {
  background-image: url(../after.png);
}

.e {
  &-canvas {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 700px);

    &__slide {
      background-position: center left;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      transition: opacity 1s linear;
      width: 100%;

      &-show {
        opacity: 1;
      }
    }
  }

  &-textbox {
    display: none;
    background: $bubble-background;
    position: absolute;
    width: 560px;
    bottom: 450px;
    padding: 30px;
    font-size: 200%;
    line-height: 1.5em;
    border-radius: 20px;
    z-index: 3;

    &:after {
      border-color: transparent $bubble-background;
      border-style: solid;
      border-width: 0 20px 30px 0px;
      bottom: -30px;
      content: "";
      display: block;
      position: absolute;
      width: 0;
    }

    &-first {
      &:after {
        left: 50px;
      }
    }

    &-middle {
      &:after {
        left: 260px;
      }
    }

    &-last {
      &:after {
        left: 480px;
      }
    }
  }

  &-video {
    height: 100%;
    padding: 20px 40px;
    width: 100%;
  }

  &-man {
    position: relative;
    transition: all 4s linear;
    width: 60px;

    *,
    *:before,
    *:after {
      transition: all .1s linear;
    }

    &__head {
      background: url(../siju.png);
      background-size: 100px;
      width: 100px;
      height: 150px;
      position: relative;
      transform-origin: 50% 73%;
      z-index: 2;
      left: -18px;
      top: 0;

      &:before,
      &:after {
        background: #000;
        content: '';
        height: 14px;
        width: 30px;
        position: absolute;
        bottom: 23px;
        left: 35px;
      }

      &:after {
        background: url(../siju.png) -34px -113px;
        background-size: 100px;
        height: 37px;
        bottom: 0px;
      }
    }

    &__body {
      position: relative;
      width: 60px;
      height: 110px;
      background: $skinLight;
      top: 5px;
      left: 0;
      z-index: 1;
      box-shadow: inset 20px 0 0 $skinDark;
      border-radius: 10%;

      &:after {
        content: '';
        position: absolute;
        width: 60px;
        height: 110px;
        background: $shirt-color;
        border-radius: 5px;
      }

      &:before {
        content:"";
        width: 20px;
        height: 20px;
        background: $skinDark;
        border-radius: 5%;
        position: absolute;
        margin-bottom: -30px;
        top: -20px;
        left: calc(50% - 10px);
        box-shadow:inset -10px 0px 0px $skinLight;
        transform-origin: bottom center;
      }
    }

    &__arm {
      width: 60px;
      height: 20px;
      position: absolute;
      background: $headColor;
      border-radius: 30px 0px 0px 30px;
      transform-origin: 8px 50%;
      z-index: 2;

      &:after {
        background: $shirt-color;
        border-radius: 30px 0px 0px 30px;
        content: '';
        height: 25px;
        position: absolute;
        top: -2px;
        width: 40px;
      }

      &-right {
        transform: rotate(130deg);
      }

      &-left {
        transform: rotate(50deg);
        left: 45px;
        top: 0px;
      }
    }

    &__bottomarm {
      position: absolute;
      border-radius: 30px 0px 0px 30px;
      background: $headColor;
      width: 50px;
      height: 20px;
      transform-origin: 8px 50%;
      top: 0;
      left: 50px;

      &:after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $headColor;
        position: absolute;
      }

      &-left {
        transform: rotate(40deg);

        &:after {
          box-shadow: inset -5px 0 0 darken($headColor, 5%);
          right: -15px;
        }
      }

      &-right {
        transform: rotate(-40deg);

        &:after {
          box-shadow: inset -5px 0 0 darken($headColor, 5%);
          right: -15px;
          bottom: 0px;
        }
      }
    }

    &__pants {
      width: 60px;
      height: 30px;
      background: $blue;
      border-radius: 0 0 30px 30px;
      box-shadow: inset -11px -5px 0 darken($blue, 10%);
      position: relative;
      left: 0;
    }

    &__legs {
      position: relative;
    }

    &__leg {
      background: $blue;
      height: 120px;
      position: absolute;
      top: 15px;
      transform-origin: 0 0;
      width: 18px;

      &:before {
        content: '';
        position: absolute;
        height: 8px;
        width: 12px;
        left: 3px;
        background: $skinLight;
        bottom: -8px;
      }

      &:after {
        background: $skinLight;
        bottom: -20px;
        content: '';
        height: 12px;
        position: absolute;
        width: 28px;
      }

      &-left {
        right: 5px;
        background: #2E4A72;
        transform: rotate(0deg);

        &:after {
          left: 3px;
          border-radius: 0 10px 10px 0;
        }
      }

      &-right {
        left: 5px;
        transform: rotate(0deg);

        &:after {
          right: 3px;
          border-radius: 10px 0 0 10px;
        }
      }
    }

    &-jdg {
      &:before {
        content: 'UI team';
        text-align: center;
        left: 2px;
        padding: 10px;
        position: absolute;
        top: 170px;
        z-index: 2;
      }

      .e-man {
        &__body,
        &__arm {
          &:after {
            background: map-get($jdg, 'shirt-color');
          }
        }

        &__pants,
        &__leg {
          background: map-get($jdg, 'trousers-color');
        }

        &__pants {
          box-shadow: inset -11px -5px 0 darken(map-get($jdg, 'trousers-color'), 5%);
        }

        &__leg-left {
          background: darken(map-get($jdg, 'trousers-color'), 5%);
        }

        &__head {
          background: map-get($jdg, 'head');
          background-size: 90px;
          height: 165px;
          left: -12px;
          width: 90px;

          &:before,
          &:after {
            bottom: 18px;
            left: 33px;
            width: 28px;
          }

          &:after {
            background: url(../jdg.png) -33px -132px;
            background-size: 90px;
            bottom: 0;
            height: 32px;
          }
        }
      }
    }

    &-d1 {
      .e-man {
        &__head {
          background: map-get($d1, 'head');
          background-size: 104px;
          width: 103px;
          left: -12px;

          &:before,
          &:after {
            left: 55px;
            width: 25px;
          }

          &:before {
            bottom: 31px;
          }

          &:after {
            background: url(../d1.png) -58px -105px;
            background-size: 104px;
            bottom: 0px;
            height: 45px;
          }
        }
        &__body {
          width: 80px;
          left: -10px;

          &:after {
            width: 80px;
            background: linear-gradient( to bottom, #0f3a56, #0f3a56 90%, #fff 90%, #fff );
            background-size: 100% 12px;
          }
        }

        &__arm {
          &:after {
            background: linear-gradient( to right, #0f3a56, #0f3a56 80%, #fff 80%, #fff );
            background-size: 10px 100%;
            border-radius: 9px 0 0 9px;
          }

          &-left {
            left: 66px;
          }
        }
      }

      &.e-man-speak {
        .e-man__head {
          animation: shake-and-rotate 6000ms infinite ease-in-out;
        }
      }
    }

    &-d2 {
      .e-man {
        &__head {
          background: map-get($d2, 'head') 0 10px no-repeat;
          background-size: 90px;
          width: 103px;
          left: -15px;

          &:before,
          &:after {
            left: 33px;
            width: 29px;
          }

          &:before {
            bottom: 22px;
          }

          &:after {
            background: url(../d2.png) -33px -104px;
            background-size: 90px;
            bottom: 2px;
            height: 34px;
          }
        }
      }
    }

    &-walk {
      animation: walk .3s linear infinite;
      transform-origin: 50% 100%;

      .e-man__leg-left {
        transform: rotate(-5deg);
      }

      .e-man__leg-right {
        transform: rotate(5deg);
      }
    }

    &-speak {
      .e-man__arm-left {
        animation: speak-arm 2s infinite ease-in-out;
      }

      .e-man__bottomarm-left {
        transform: rotate(-40deg);
      }

      .e-man__head {
        animation: shake .6s infinite ease-in-out;

        &:after {
          animation: speak 1s infinite;
        }
      }
    }

    &-dance {
      animation: dance-body .5s linear infinite;

      .e-man__arm-left {
        animation: dance-arm-left .5s linear infinite;
      }

      .e-man__arm-right {
        animation: dance-arm-right .5s linear infinite;
      }

      .e-man__head {
        animation: dance-head .8s linear infinite;
      }

      .e-man__leg {
        animation: dance-leg .5s linear infinite;
      }
    }
  }
}

#m1.e-dance-hardcore {
  animation: outro-m1 15s linear forwards;

  .e-man {
    animation: dance-rotate 2s linear infinite;
  }
}


#m2.e-dance-hardcore {
  animation: outro-m2 15s linear forwards;

  .e-man {
    animation: dance-rotate-backwards 1.5s linear infinite;
  }
}

#m3.e-dance-hardcore {
  animation: outro-m3 15s linear forwards;

  .e-man {
    animation: dance-rotate-backwards 2.5s linear infinite;
  }
}

#m4.e-dance-hardcore {
  animation: outro-m4 15s linear forwards;

  .e-man {
    animation: dance-rotate 1s linear infinite;
  }
}

$color1: #0e83cd;
$color2: white;
$animation-time: 4s;

.cloud{
  position: absolute;
  top: 170px;
  left: 50%;
  width: 350px;
  height: 160px;
  transform: translate(-50%, -50%);

  .puffs {
    animation: cloud $animation-time 0s infinite normal both;
    top: 0;
    border-radius: 50% 50% 50% 50%;
    left: 0;
    background: $color2;
    position: absolute;
    width: 120px;
    height: 120px;
    box-shadow: 75px 0 white, 150px 0 white, 225px 0 white,
    #{12.5px*3} #{-7.5px*3} darken($color2, 4), #{37.5px*3} #{-7.5px*3} darken($color2, 4), #{62.5px*3} #{-7.5px*3} darken($color2, 4),
    #{12.5px*3} #{7.5px*3} darken($color2, 4), #{37.5px*3} #{7.5px*3} darken($color2, 4), #{62.5px*3} #{7.5px*3} darken($color2, 4),
    #{25px*3} #{-15px*3} darken($color2, 8), #{50px*3} #{-15px*3} darken($color2, 8),
    #{25px*3} #{15px*3} darken($color2, 8), #{50px*3} #{15px*3} darken($color2, 8);
  }
  .rain .drop {
    width: 100px;
    height: 100px;
    //border-radius: 50%;
    //background: darken($color1, 8);
    position: absolute;
    z-index: -2;
    opacity: 0;

    img {
      max-width: 100%;
    }

    @for $i from 0 through 15 {
      &:nth-child(#{$i}) {
        animation: rain 2s #{$i*300}ms infinite normal both;
        left: 20px*$i;
      }
    }
  }
  &-first {
    margin-left: -300px;
    opacity: 0.97;

    .puffs {
      animation: cloud $animation-time 1s infinite normal both;
    }
  }

  &-last {
    margin-left: 250px;
    opacity: 0.9;

    .puffs {
      animation: cloud $animation-time 3s infinite normal both;
    }
  }
}


$bubble-delays: 1.6s, 2.15s, 1s, 2s, 2.2s, 1.4s, 2.25s, 1.8s, 1.7s, .5s, 1.9s, 2.1s;

$bubbles: (
  (1.6s, 31px, 269px, 100px),
  (2.15s, 217px, -239px, 100px),
  (2.1s, 268px, 80px, 100px),
  (2s, -50px, 408px, 123px),
  (2.2s, -158px, 241px, 123px),
  (3s, 392px, 20px, 100px),
  (2.25s, 296px, -170px, 144px),
  (1.8s, -182px, 85px, 140px),
  (1.7s, 287px, 227px, 153px),
  (.5s, 176px, 344px, 100px),
  (1.9s, -110px, -110px, 100px),
  (1.4s, -17px, -268px, 173px),
  (2.1s, -243px, -42px, 109px),
  (1s, 138px, -127px, 100px),
);

#bubbles {
  position: relative;
  width: 100%;
  height: 100%;

  .bubble {
    font-size: 18px;
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    opacity: 0;
    transform: scale(0);
    border-radius: 50%;

    &:after {
      content: attr(data-team);
      font-weight: bold;
      top: 50%;
      left: 50%;
      position: absolute;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    &-more {
      font-size: 33px;
    }
  }

  .bubble-main {
    font-size: 50px;
    width: 240px;
    height: 240px;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    opacity: 1 !important;
    transform: scale(1);
  }

  &.e-canvas__slide-show {
    .bubble .bubble {
      $i: 0;
      @each $delay, $top, $left, $size in $bubbles {
        $i: $i+1;
        &:nth-child(#{$i}) {
          background: adjust-hue(#fdf560, 30deg * $i);
          width: $size;
          height: $size;
          top: $top;
          left: $left;
          animation: bubble 1s $delay + 3s linear forwards;
        }
      }
    }
  }
}

@keyframes bubble {
  0% {transform: scale(0);}
  1% {transform: scale(0.09);}
  2% {transform: scale(0.2);}
  3% {transform: scale(0.34);}
  4% {transform: scale(0.49);}
  5% {transform: scale(0.65);}
  6% {transform: scale(0.8);}
  7% {transform: scale(0.94);}
  8% {opacity:1; transform: scale(1.06);}
  9% {transform: scale(1.17);}
  10% {transform: scale(1.25);}
  11% {transform: scale(1.31);}
  12% {transform: scale(1.35);}
  13% {transform: scale(1.37);}
  14% {transform: scale(1.37);}
  15% {transform: scale(1.35);}
  16% {transform: scale(1.32);}
  17% {transform: scale(1.28);}
  18% {transform: scale(1.23);}
  19% {transform: scale(1.18);}
  20% {transform: scale(1.13);}
  21% {transform: scale(1.07);}
  22% {transform: scale(1.02);}
  23% {transform: scale(0.98);}
  24% {transform: scale(0.94);}
  25% {transform: scale(0.91);}
  26% {transform: scale(0.89);}
  27% {transform: scale(0.88);}
  28% {transform: scale(0.87);}
  29% {transform: scale(0.87);}
  30% {transform: scale(0.88);}
  31% {transform: scale(0.89);}
  32% {transform: scale(0.9);}
  33% {transform: scale(0.92);}
  34% {transform: scale(0.94);}
  35% {transform: scale(0.96);}
  36% {transform: scale(0.97);}
  37% {transform: scale(0.99);}
  38% {transform: scale(1.01);}
  39% {transform: scale(1.02);}
  40% {transform: scale(1.03);}
  41% {transform: scale(1.04);}
  42% {transform: scale(1.04);}
  43% {transform: scale(1.05);}
  45% {transform: scale(1.04);}
  47% {transform: scale(1.04);}
  48% {transform: scale(1.03);}
  49% {transform: scale(1.02);}
  50% {transform: scale(1.02);}
  51% {transform: scale(1.01);}
  52% {transform: scale(1);}
  53% {transform: scale(1);}
  54% {transform: scale(0.99);}
  56% {transform: scale(0.99);}
  57% {transform: scale(0.98);}
  60% {transform: scale(0.98);}
  61% {transform: scale(0.99);}
  65% {transform: scale(0.99);}
  66% {transform: scale(1);}
  72% {transform: scale(1.01);}
  76% {transform: scale(1.01);}
  77% {transform: scale(1);}
  100% {opacity:1; transform: scale(1);}
}


@keyframes cloud {

  35% {
    left: -5%;
  }

  50% {
    transform: translateY(-12px);
  }

}

@keyframes rain {
  10% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }
  90% {
    transform: translateY(calc(100vh - 200px));
  }
}

@keyframes dance-body {
  0% { top: 0; }
  50% { top: 20px; }
  100% { top: 0; }
}

@keyframes dance-rotate {
  100% { transform: rotate(360deg) }
}


@keyframes dance-rotate-backwards {
  100% { transform: rotate(-360deg) }
}

@keyframes dance-head {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(10deg) }
  75% { transform: rotate(-10deg) }
  100% { transform: rotate(0deg) }
}

@keyframes dance-leg {
  0% { height: 120px }
  50% { height: 100px }
  100% { height: 120px }
}

@keyframes dance-arm-left {
  0% { transform: rotate(50deg) }
  25% { transform: rotate(60deg) }
  75% { transform: rotate(20deg) }
  100% { transform: rotate(50deg) }
}

@keyframes dance-arm-right {
  0% { transform: rotate(130deg) }
  25% { transform: rotate(160deg) }
  75% { transform: rotate(100deg) }
  100% { transform: rotate(130deg) }
}

@keyframes walk {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-5deg) }
  75% { transform: rotate(5deg) }
  100% { transform: rotate(0deg) }
}

@keyframes shake {
  0% {transform: rotate(-7deg)}
  50% {transform: rotate(7deg)}
  100% {transform: rotate(-7deg)}
}

@keyframes shake-and-rotate {
  0% {transform: rotate(-7deg)}
  5% {transform: rotate(7deg)}
  10% {transform: rotate(-7deg)}
  15% {transform: rotate(7deg)}
  20% {transform: rotate(-7deg)}
  25% {transform: rotate(7deg)}
  30% {transform: rotate(-7deg)}
  35% {transform: rotate(7deg)}
  40% {transform: rotate(-7deg)}
  45% {transform: rotate(7deg)}
  50% {transform: rotate(-7deg)}
  52.4% {transform: rotate(0deg) scale(1, 1)}
  52.5% {transform: rotate(0deg) scale(-1, 1)}
  55% {transform: rotate(-7deg) scale(-1, 1)}
  60% {transform: rotate(7deg) scale(-1, 1)}
  65% {transform: rotate(-7deg) scale(-1, 1)}
  70% {transform: rotate(7deg) scale(-1, 1)}
  75% {transform: rotate(-7deg) scale(-1, 1)}
  80% {transform: rotate(7deg) scale(-1, 1)}
  82.4% {transform: rotate(0deg) scale(-1, 1)}
  82.5% {transform: rotate(0deg) scale(1, 1)}
  85% {transform: rotate(-7deg)}
  90% {transform: rotate(7deg)}
  95% {transform: rotate(-7deg)}
  100% {transform: rotate(7deg)}
}

@keyframes speak {
  0% {transform: translate3d(0,0,0)}
  10% {transform: translate3d(0,7px,0)}
  20% {transform: translate3d(0,4px,0)}
  30% {transform: translate3d(0,8px,0)}
  40% {transform: translate3d(0,6px,0)}
  50% {transform: translate3d(0,4px,0)}
  60% {transform: translate3d(0,1px,0)}
  70% {transform: translate3d(0,7px,0)}
  80% {transform: translate3d(0,7px,0)}
  90% {transform: translate3d(0,10px,0)}
  100% {transform: translate3d(0,0,0)}
}


@keyframes speak-arm {
  0% { transform: rotate(-30deg) }
  50% { transform: rotate(-15deg) }
  100% { transform: rotate(-30deg) }
}

@keyframes outro-m1 {
  0% { transform: translate(0,0) }
  10% { transform: translate(100px,-100px) }
  30% { transform: translate(80px,-130px) }
  60% { transform: translate(800px,-330px) }
  100% { transform: translate(2000px,-2000px) }
}

@keyframes outro-m2 {
  0% { transform: translate(0,0) }
  20% { transform: translate(400px,0) }
  70% { transform: translate(300px,-430px) }
  80% { transform: translate(200px,-730px) }
  100% { transform: translate(-2000px,2000px) }
}

@keyframes outro-m3 {
  0% { transform: translate(0,0) }
  10% { transform: translate(-300px,-10px) }
  15% { transform: translate(300px,10px) }
  20% { transform: translate(-300px,-10px) }
  25% { transform: translate(300px,10px) }
  30% { transform: translate(-300px,-10px) }
  35% { transform: translate(300px,10px) }
  40% { transform: translate(-300px,-10px) }
  45% { transform: translate(300px,10px) }
  50% { transform: translate(-300px,-10px) }
  70% { transform: translate(-300px,-530px) }
  80% { transform: translate(200px,-730px) }
  100% { transform: translate(2000px,2000px) }
}


@keyframes outro-m4 {
  0% { transform: translate(0,0) scale(1) rotate(0); opacity: 1; }
  80% { transform: translate(-400px,-400px) scale(2) rotate(0); opacity: .5; }
  100% { transform: translate(-2000px,2000px) scale(4) rotate(0); opacity: 0; }
}










$base: #ff0000;

@mixin text3d ($color: #ffd300, $x: 1, $y: -1,  $darken: 1) {
  color: $color;
  text-shadow: 0px 0px 0 darken($color, 14%),
    $x* 1px $y* 1px 0 darken($color, $darken * 15),
    $x* 2px $y* 2px 0 darken($color, $darken * 16),
    $x* 3px $y* 3px 0 darken($color, $darken * 17),
    $x* 4px $y* 4px 0 darken($color, $darken * 18),
    $x* 5px $y* 5px 0 darken($color, $darken * 19),
    $x* 6px $y* 6px 0 darken($color, $darken * 20),
    $x* 7px $y* 7px 0 darken($color, $darken * 21), 
    $x* 8px $y* 8px 0 darken($color, $darken * 22),
    $x* 9px $y* 9px 0 darken($color, $darken * 23),
    $x* 10px $y* 10px 0 darken($color, $darken * 24),
    $x* 11px $y* 11px 0 darken($color, $darken * 25), 
    $x* 12px $y* 12px 0 darken($color, $darken * 26),
    $x* 0 $y* 0 52px rgba(lighten($color, 14%),0.5), 
    $x* 0 $y* 0 55px rgba(lighten($color, 14%),0.5);  
}

@for $i from 1 through 12 {
  .char#{$i} { 
    animation: rainbow 3s linear infinite;
    animation-delay: 0.2s * $i;
  }
}

@keyframes rainbow {
  @for $i from 0 through 10 {
    #{$i* 10%}  {
    @include text3d  (adjust-hue($base, $i *36deg), 1.5, -1, 1.3);
    }
  }
}

#end {
  animation: rainbow 2s ease-out infinite alternate;
  color: #fff;
  opacity: 0;
  font-family: 'VT323';
  transition: all 2s;
  font-size: 180px;
  font-weight: bold;
  left: 50%;
  letter-spacing: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  white-space: nowrap;

  &.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

h2 {
  // animation: rainbow 2s ease-out infinite alternate;
}
