*,
*:before,
*:after {
  box-sizing: border-box;
  // border-radius: 0 !important;
}

$bg: darken(#002838, 3%);
$skinDark: #E7AE9A;
$skinLight: #EFBAAA;
$nipples: #E79A9A;
$headColor: #E79E8A;
$bear: #612410;
$blue: #3D5E8C;
$time: 4.5s;
$shirt-color: green;
$bubble-background: darken(#fff, 20%);

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $bg;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

#m1,
#m2,
#m3 {
  bottom: 125px;
  left: -100px;
  position: absolute;
  transition: all 4s linear;
}

button {
  position: absolute;
  margin: auto;
  width: 200px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

h1 {
  color: #fff;
  font-size: 400%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  z-index: 1;
}

#screenshot1 {
  background-image: url(../before.png);
}

#screenshot2 {
  background-image: url(../after.png);
}

.e {
  &-canvas {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 700px);

    &__slide {
      background-position: center left;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      transition: opacity 1s linear;
      width: 100%;

      &-show {
        opacity: 1;
      }
    }
  }

  &-textbox {
    display: none;
    background: $bubble-background;
    position: absolute;
    width: 560px;
    height: 110px;
    bottom: 450px;
    padding: 30px;
    font-size: 200%;
    line-height: 1.5em;
    border-radius: 20px;
    z-index: 3;

    &:after {
      border-color: transparent $bubble-background;
      border-style: solid;
      border-width: 0 20px 30px 0px;
      bottom: -30px;
      content: "";
      display: block;
      position: absolute;
      width: 0;
    }

    &-first {
      &:after {
        left: 50px;
      }
    }

    &-middle {
      &:after {
        left: 260px;
      }
    }

    &-last {
      &:after {
        left: 480px;
      }
    }
  }

  &-video {
    height: 100%;
    padding: 20px 40px;
    width: 100%;
  }

  &-man {
    position: relative;
    transition: all 4s linear;
    width: 60px;

    *,
    *:before,
    *:after {
      transition: all .1s linear;
    }

    &__head {
      background: url(../siju.png);
      background-size: 100px;
      width: 100px;
      height: 150px;
      position: relative;
      transform-origin: 50% 73%;
      z-index: 2;
      left: -18px;
      top: 0;

      &:before,
      &:after {
        background: #000;
        content: '';
        height: 14px;
        width: 30px;
        position: absolute;
        bottom: 23px;
        left: 35px;
      }

      &:after {
        background: url(../siju.png) -34px -113px;
        background-size: 100px;
        height: 37px;
        bottom: 0px;
      }
    }

    &__body {
      position: relative;
      width: 60px;
      height: 110px;
      background: $skinLight;
      top: 5px;
      left: 0;
      z-index: 1;
      box-shadow: inset 20px 0 0 $skinDark;
      border-radius: 10%;

      &:after {
        content: '';
        position: absolute;
        width: 60px;
        height: 110px;
        background: $shirt-color;
        border-radius: 5px;
      }

      &:before {
        content:"";
        width: 20px;
        height: 20px;
        background: $skinDark;
        border-radius: 5%;
        position: absolute;
        margin-bottom: -30px;
        top: -20px;
        left: calc(50% - 10px);
        box-shadow:inset -10px 0px 0px $skinLight;
        transform-origin: bottom center;
      }
    }

    &__arm {
      width: 60px;
      height: 20px;
      position: absolute;
      background: $headColor;
      border-radius: 30px 0px 0px 30px;
      transform-origin: 8px 50%;
      z-index: 2;

      &:after {
        background: $shirt-color;
        border-radius: 30px 0px 0px 30px;
        content: '';
        height: 25px;
        position: absolute;
        top: -2px;
        width: 40px;
      }

      &-right {
        transform: rotate(130deg);
      }

      &-left {
        transform: rotate(50deg);
        left: 45px;
        top: 0px;
      }
    }

    &__bottomarm {
      position: absolute;
      border-radius: 30px 0px 0px 30px;
      background: $headColor;
      width: 50px;
      height: 20px;
      transform-origin: 8px 50%;
      top: 0;
      left: 50px;

      &:after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $headColor;
        position: absolute;
      }

      &-left {
        transform: rotate(40deg);

        &:after {
          box-shadow: inset -5px 0 0 darken($headColor, 5%);
          right: -15px;
        }
      }

      &-right {
        transform: rotate(-40deg);

        &:after {
          box-shadow: inset -5px 0 0 darken($headColor, 5%);
          right: -15px;
          bottom: 0px;
        }
      }
    }

    &__pants {
      width: 60px;
      height: 30px;
      background: $blue;
      border-radius: 0 0 30px 30px;
      box-shadow: inset -11px -5px 0 #2E4A72;
      position: relative;
      left: 0;
    }

    &__legs {
      position: relative;
    }

    &__leg {
      background: $blue;
      height: 120px;
      position: absolute;
      top: 15px;
      transform-origin: 0 0;
      width: 18px;

      &:before {
        content: '';
        position: absolute;
        height: 8px;
        width: 12px;
        left: 3px;
        background: $skinLight;
        bottom: -8px;
      }

      &:after {
        background: $skinLight;
        bottom: -20px;
        content: '';
        height: 12px;
        position: absolute;
        width: 28px;
      }

      &-left {
        right: 5px;
        background: #2E4A72;
        transform: rotate(0deg);

        &:after {
          left: 3px;
          border-radius: 0 10px 10px 0;
        }
      }

      &-right {
        left: 5px;
        transform: rotate(0deg);

        &:after {
          right: 3px;
          border-radius: 10px 0 0 10px;
        }
      }
    }

    &-walk {
      animation: walk .3s linear infinite;
      transform-origin: 50% 100%;

      .e-man__leg-left {
        transform: rotate(-5deg);
      }

      .e-man__leg-right {
        transform: rotate(5deg);
      }
    }

    &-speak {
      .e-man__arm-left {
        animation: speak-arm 2s infinite ease-in-out;
      }

      .e-man__bottomarm-left {
        transform: rotate(-40deg);
      }

      .e-man__head {
        animation: shake .6s infinite ease-in-out;

        &:after {
          animation: speak 1s infinite;
        }
      }
    }

    &-dance {
      animation: dance-body .5s linear infinite;

      .e-man__arm-left {
        animation: dance-arm-left .5s linear infinite;
      }

      .e-man__arm-right {
        animation: dance-arm-right .5s linear infinite;
      }

      .e-man__head {
        animation: dance-head .8s linear infinite;
      }

      .e-man__leg {
        animation: dance-leg .5s linear infinite;
      }
    }
  }
}

@keyframes dance-body {
  0% { top: 0px; }
  50% { top: 20px; }
  100% { top: 0px; }
}

@keyframes dance-head {
  0% { transform: rotate(0); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0); }
}

@keyframes dance-leg {
  0% { height: 120px; }
  50% { height: 100px; }
  100% { height: 120px; }
}

@keyframes dance-arm-left {
  0% { transform: rotate(50deg); }
  25% { transform: rotate(60deg); }
  75% { transform: rotate(20deg); }
  100% { transform: rotate(50deg); }
}

@keyframes dance-arm-right {
  0% { transform: rotate(130deg); }
  25% { transform: rotate(160deg); }
  75% { transform: rotate(100deg); }
  100% { transform: rotate(130deg); }
}

@keyframes walk {
  0% { transform: rotate(0); }
  25% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes shake {
  0% {transform: rotate(-7deg)}
  50% {transform: rotate(7deg)}
  100% {transform: rotate(-7deg)}
}

@keyframes speak {
  0% {transform: translate3d(0,0,0)}
  10% {transform: translate3d(0,7px,0)}
  20% {transform: translate3d(0,4px,0)}
  30% {transform: translate3d(0,8px,0)}
  40% {transform: translate3d(0,6px,0)}
  50% {transform: translate3d(0,4px,0)}
  60% {transform: translate3d(0,1px,0)}
  70% {transform: translate3d(0,7px,0)}
  80% {transform: translate3d(0,7px,0)}
  90% {transform: translate3d(0,10px,0)}
  100% {transform: translate3d(0,0,0)}
}

@keyframes speak-arm {
  0% { transform: rotate(-30deg) }
  50% { transform: rotate(-15deg) }
  100% { transform: rotate(-30deg) }
}
